@property --notification-width {
	syntax:        "<length>";
	inherits:      true;
	initial-value: 0;
}

@property --notification-height {
	syntax:        "<length>";
	inherits:      true;
	initial-value: 0;
}

.notifications-container {
	width:                 var(--notification-width);
	max-width:             100vw;

	height:                fit-content;
	display:               flex;
	flex-direction:        column;
	position:              absolute;
	z-index:               1100;
	top:                   20px;
	right:                 calc(-100vw + 10px);
	overflow:              visible;
	--notification-width:  300px;
	--notification-height: 60px;
	gap:                   10px;

	div {
		width:               var(--notification-width);
		max-width:           100vw;
		height:              var(--notification-height);
		display:             flex;
		align-items:         center;
		flex-direction:      row;
		justify-content:     space-between;
		position: relative;
		overflow: hidden;
		padding:             10px 16px;
		cursor:   pointer;
		transition-duration: .3s;
		transform:           translateX(100%);
		opacity:             0;
		color:               var(--text-primary);
		border-radius:       var(--br-16);
		background:          var(--background-secondary);
		gap:                 0;

		&:hover {
			opacity: .3;
		}

		p:nth-child(1) {
			width: 100%;
			min-width:   calc(var(--notification-width) - 60px - 32px);
			white-space: nowrap;
			word-break:  keep-all;
		}

		p:nth-child(2) {
			width: fit-content;
			height:          100%;
			display:         flex;
			flex-direction:  column;
			justify-content: center;
			font-weight:     bold;
			cursor:          pointer;
			text-align:      center;
			vertical-align:  center;
			color:           var(--blue-60);
		}

		div {
			width:      0;
			height:     3px;
			position:   absolute;
			bottom:     0;
			left:       0;
			background: white;
			all:        unset;
		}
	}
}

@keyframes notification-appearance {
	from {
		transform: translateX(100%);
		opacity:   0;
	}
	to {
		transform: translateX(0);
		opacity:   1;
	}
}
